/hiapp_s20g_apo/hiapp_s20g_apo_300k.xtc
/hiapp_s20g_apo/pbc_and_demux_trjs/*

/hiapp_s20g_apo/outdir_circuit_top_s20g_hiapp_apo/*.npy
/hiapp_s20g_apo/outdir_circuit_top_s20g_hiapp_apo/*_model.dat
/hiapp_s20g_apo/outdir_circuit_top_s20g_hiapp_apo/*.pkl

/hiapp_s20g_yxi1/outdir_circuit_top_s20g_yxi1_hiapp/*.npy 
/hiapp_s20g_yxi1/outdir_circuit_top_s20g_yxi1_hiapp/*_model.dat
/hiapp_s20g_yxi1/outdir_circuit_top_s20g_yxi1_hiapp/*.pkl 

/hiapp_s20g_yxa1/outdir_circuit_top_s20g_yxa1_hiapp/*.npy
/hiapp_s20g_yxa1/outdir_circuit_top_s20g_yxa1_hiapp/*_model.dat
/hiapp_s20g_yxa1/outdir_circuit_top_s20g_yxa1_hiapp/*.pkl

/hiapp_wt_apo/outdir_circuit_top_wt_hiapp_apo/*.npy
/hiapp_wt_apo/outdir_circuit_top_wt_hiapp_apo/*.pkl 
/hiapp_wt_apo/outdir_circuit_top_wt_hiapp_apo/*_model.dat

/hiapp_wt_yxi1/outdir_circuit_top_wt_yxi1_hiapp/*.npy
/hiapp_wt_yxi1/outdir_circuit_top_wt_yxi1_hiapp/*.pkl 
/hiapp_wt_yxi1/outdir_circuit_top_wt_yxi1_hiapp/*_model.dat

/hiapp_wt_yxa1/outdir_circuit_top_wt_yxa1_hiapp/*.npy
/hiapp_wt_yxa1/outdir_circuit_top_wt_yxa1_hiapp/*_model.dat
/hiapp_wt_yxa1/outdir_circuit_top_wt_yxa1_hiapp/*.pkl

/hiapp_wt_apo/5mgq.pdb
/hiapp_wt_apo/hiapp_wt_apo_300k.xtc
/hiapp_wt_apo/pbc_and_demux_trjs/*
